<section class="footer">
    <div class="uk-container">
        <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
            <div>
                <div style="text-align:center">
                    <a href="{{ "/index.html" | prepend: site.url}}">
                    <img src="{{ "/assets/img/rest-control.png" | prepend: site.baseurl }}" />
                    </a>
                </div>
                <div style="text-align:center">
                    Copyrights &copy; 2018 RestControl
                </div>
            </div>
            <div></div>
            <div>
                <div>
                    <a href="https://github.com/rest-control" target="_blank">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: github"></span>
                        Source
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>