<header class="site-header">
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">
      <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="{{ "/index.html" | prepend: site.url}}">
          <span class="logo-left-span">Rest</span>
          <span class="logo-right-span">Control</span>&nbsp;
          <span class="logo-small-info">:: REST testing framework</span>
        </a>
        <div class="uk-navbar-item">
          <div><a href="{{ "/documentation/index.html" | prepend: site.url}}">Documentation</a></div>
        </div>
        <div class="uk-navbar-item">
          <div><a href="{{ "/tutorials/index.html" | prepend: site.url}}">Tutorials</a></div>
        </div>
        <div class="uk-navbar-item">
          <div><a href="https://github.com/rest-control/rest-control/releases" target="_blank">Releases</a></div>
        </div>
        <ul class="uk-navbar-nav ruc-header-icon-nav">
          <li>
            <a href="https://twitter.com/RestControl" target="_blank">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: twitter"></span>
            </a>
          </li>
          <li>
            <a href="https://github.com/rest-control" target="_blank">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: github"></span>
              Source
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
